name: Deploy to VDS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to VDS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VDS_HOST }}
          username: ${{ secrets.VDS_USERNAME }}
          key: ${{ secrets.VDS_SSH_KEY }}
          port: 22
          timeout: 30s
          script: |
            cd /opt/steambotgo
            git pull origin main
            docker-compose down -v --remove-orphans || true
            docker system prune -f
            docker-compose up -d --build --force-recreate
            docker-compose logs --tail=50 bot
